VITE_MAPBOX_ACCESS_TOKEN=replace-with-your-mapbox-public-token
VITE_API_BASE_URL=http://localhost:8005/api

DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175

POSTGRES_DB=railway
POSTGRES_USER=postgres
POSTGRES_PASSWORD=bnOIPFrLZAwcyxJtauXnSbYGEcUPlidW
POSTGRES_HOST=switchback.proxy.rlwy.net
POSTGRES_PORT=20145

CLOUDINARY_CLOUD_NAME=replace-with-your-cloud-name
CLOUDINARY_API_KEY=replace-with-your-api-key
CLOUDINARY_API_SECRET=replace-with-your-api-secret
MAX_UPLOAD_SIZE_MB=12
