DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=replace-with-a-secure-secret
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.1.50
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://192.168.1.50:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://192.168.1.50:5173
VITE_API_BASE_URL=http://192.168.1.18

DATABASE_URL=
PGDATABASE=
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=

CLOUDINARY_API_KEY=238229748389954
CLOUDINARY_API_SECRET=64KwWcwxJ7OikMWHiTv7gUdE_5o
CLOUDINARY_CLOUD_NAME=tolumaster
MAX_UPLOAD_SIZE_MB=12
